<header>
  <div class="header-container">
    <div class="header-left align-center">
      <div><h1>Jot</h1></div>
      <div class="login-subtitle">// a Node.js note-taking app</div>
    </div>
    <div class="controls">
      <form action="/notes/new">
        <button type="submit" class="button-black">New Jot</button>
      </form>
      <form action="/logout" method="POST">
        <button type="submit" class="button-delete">Logout</button>
      </form>
    </div>
  </div>
</header>
