<main>
  <div class="login-panel">
    <div class="login-panel-header"></div>
    <div class="login-panel-body">
      <h1>Jot</h1>
      <div class="subtitle">// a Node.js note-taking app</div>
      <section>
        <div class="login-panel-section-heading"><h2>Sign up</h2></div>
        <form action="/register" method="POST">
          <label for="registerUsername" class="form-label">Username</label
          ><br />
          <input
            type="text"
            class="form-input"
            id="registerUsername"
            name="username"
            required
            placeholder="Enter a new username"
          /><br />
          <label for="registerPassword" class="form-label">Password</label
          ><br />
          <input
            type="password"
            class="form-input"
            id="registerPassword"
            name="password"
            required
            placeholder="Password"
          /><br />
          <% if (uiMessages.register ) { %>
          <div class="ui-message-error"><%= uiMessages.register %></div>
          <% } %>
          <button type="submit" class="button-black">Register</button>
        </form>
      </section>

      <section>
        <div class="login-panel-section-heading"><h2>Login</h2></div>
        <form action="/login" method="POST">
          <label for="loginUsername" class="form-label">Username</label><br />
          <input
            type="text"
            class="form-input"
            id="loginUsername"
            name="username"
            required
            placeholder="Enter your username"
          /><br />
          <label for="loginPassword" class="form-label">Password</label><br />
          <input
            type="password"
            class="form-input"
            id="loginPassword"
            name="password"
            required
            placeholder="Password"
          /><br />
          <% if (uiMessages.login ) { %>
          <div class="ui-message-error"><%= uiMessages.login %></div>
          <% } %>
          <button type="submit">Login</button>
        </form>
      </section>
    </div>
  </div>
</main>
