<main>
  <p>
    This is the public home page. This can be shown logged in or not logged in.
  </p>
  <a href="./notes/">Go to my notes.</a>

  <section>
    <h2>Sign up</h2>
    <form action="/register" method="POST">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-input"
        id="username"
        name="username"
        required
        placeholder="Enter a new username"
      />
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-input"
        id="password"
        name="password"
        required
        placeholder="Password"
      />
      <button type="submit">Register</button>
    </form>
  </section>

  <section>
    <h2>Login</h2>
    <form action="/login" method="POST">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-input"
        id="username"
        name="username"
        required
        placeholder="Enter your username"
      />
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-input"
        id="password"
        name="password"
        required
        placeholder="Password"
      />
      <button type="submit">Login</button>
    </form>
  </section>
</main>
