<header>
  <div class="header-container">
    <div class="header-left align-center">
      <div><h1>Jot</h1></div>
      <div class="subtitle">// a Node.js note-taking app</div>
    </div>
  </div>
</header>
<div class="container">
  <div class="ui-message-error">
    An error occurred. <%= message %> <a href="/notes">Return home</a>.
  </div>
</div>
